@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

.header{
  background-color:white;
  /* padding-top: 25px;
  padding-bottom: 8px; */
  height: 70px;
  padding:0 50px;
  align-items: center;
  border-bottom: 2px solid rgb(147, 145, 145);
  display: flex;
  justify-content: space-between;
  >a{
    color: rgb(43, 168, 24);
    padding: 5px 10px;
    border-radius: 20px;
    
  }
  >.links{
    display: flex;
    gap: 40px;
    padding-top:25px;
  }
}
a:hover{
  /* background-color: green; */
  transition: .5s;
  text-decoration: underline;
  font-weight: 700;
  font-size: 17px;
  color:rgb(65, 65, 238);
}
.error{
  padding-top: 2px;
  color:red;
  font-size: 13px;
}
.icon{
  width: 65px;

}
h1{
  color: blue;
}
h2{
  text-align: center;
  padding-top: 30px;
  color: rgb(211, 230, 248);
}

h2::after{
  content: ':)>';
  color: blue;
}
.ac{
  color: rgb(152, 220, 243);
}
.addbook{
  background: url('https://img.freepik.com/free-psd/abstract-background-with-opened-book_23-2149085907.jpg?w=1060&t=st=1692182942~exp=1692183542~hmac=4be99a2ba8b7889766bf519b20bf5f775ace23ff6c5ebda7b5dd67c312ffb8cb');
 background-repeat: no-repeat;
 background-size: cover;
  height: 90vh;

}
h3{
  font-size: 15px;
  margin-bottom: 10px;
  color: blue
}

.board{
  display: flex;
  /* background-color: red; */
  flex-wrap: wrap;
  justify-content: center;
  
}
.lang{
  width: 400px;
}
.collection{
  display: flex;
  flex-direction: column;
  gap: 30px;

  
}